<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{cont.template_title}}</title>
</head>
<body>
    <header>
        <p>{{cont.template_header}}</p>
        <p>{{{cont.template_nav_home}}} {{{cont.template_nav_choice}}} {{{cont.template_nav_receipe}}}</p>
    </header>
    {{{body}}}
    <footer>
        <p>{{cont.template_footer}}</p>
    </footer>
</body>
</html>